<!--
THIS IS THE ACTUAL INDEX FILE, REPLACE THE OLD ONE WHEN APPLICABLE
-->
<!DOCTYPE html>

<html>
<head>
  <title>
    flowr
  </title>
</head>

<body style='background-color: pink'>
  <script>
    // This is called with the results from from FB.getLoginStatus().
    function statusChangeCallback(response) {
      console.log('statusChangeCallback');
      console.log(response);
      // The response object is returned with a status field that lets the
      // app know the current login status of the person.
      // Full docs on the response object can be found in the documentation
      // for FB.getLoginStatus().
      if (response.status === 'connected') {
        // Logged into your app and Facebook.
        onLogin();
        } else if (response.status === 'not_authorized') {
        // The person is logged into Facebook, but not your app.
        document.getElementById('status').innerHTML = 'Please log ' +
        'into this app.';
        } else {
        // The person is not logged into Facebook, so we're not sure if
        // they are logged into this app or not.
        document.getElementById('status').innerHTML = 'Please log ' +
        'into Facebook.';
      }
    }

    // This function is called when someone finishes with the Login
    // Button.  See the onlogin handler attached to it in the sample
    // code below.
    function checkLoginState() {
      FB.getLoginStatus(function(response) {
        statusChangeCallback(response);
      });
    }

    window.fbAsyncInit = function() {
      FB.init({
        appId      : '1538092949800715',
        cookie     : true,  // enable cookies to allow the server to access 
        // the session
        xfbml      : true,  // parse social plugins on this page
        version    : 'v2.1' // use version 2.1
      });

      // Now that we've initialized the JavaScript SDK, we call 
      // FB.getLoginStatus().  This function gets the state of the
      // person visiting this page and can return one of three states to
      // the callback you provide.  They can be:
      //
      // 1. Logged into your app ('connected')
      // 2. Logged into Facebook, but not your app ('not_authorized')
      // 3. Not logged into Facebook and can't tell if they are logged into
      //    your app or not.
      //
      // These three cases are handled in the callback function.

      FB.getLoginStatus(function(response) {
        statusChangeCallback(response);
      });

    };

    // Load the SDK asynchronously
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js";
      fjs.parentNode.insertBefore(js, fjs);

    }(document, 'script', 'facebook-jssdk'));

    // Here we run a very simple test of the Graph API after login is
    // successful.  See statusChangeCallback() for when this call is made.
    function onLogin() {
      console.log('Welcome!  Fetching your information.... ');
      FB.api('/me', function(response) {
        console.log('Successful login for: ' + response.name);
        document.getElementById('status').innerHTML =
        'Thanks for logging in, ' + response.name + '!';
      });

      renderMFS();
    }

    function renderMFS() {
      // First get the list of friends for this user with the Graph API
      FB.api('/me/friends', function(response) {
        var container = document.getElementById('mfs');
        var mfsForm = document.createElement('form');
        mfsForm.id = 'mfsForm';

        console.log(response);

        // Iterate through the array of friends object and create a checkbox for each one.
        for(var i = 0; i < response.data.length; i++) {
          var friendItem = document.createElement('div');
          friendItem.id = 'friend_' + response.data[i].id;
          friendItem.innerHTML = '<input type="radio" name="friends" value=false'
          + response.data[i].id
          + '" />' + response.data[i].name;
          mfsForm.appendChild(friendItem);
        }
        container.appendChild(mfsForm);

        // Create a button to send the Request(s)
        var sendButton = document.createElement('input');
        sendButton.type = 'button';
        sendButton.value = 'Post Rose Gram!';
        sendButton.onclick = 'postTopLevel()';
        mfsForm.appendChild(sendButton);
      });
    }

    // Post top level thread for the rosegram
    function postTopLevel() {
      var friendID = null;
      var friends = document.getElementByName('mfsForm');
      for(var i = 0; i < friends.length; i++) {
        if(friends[i].checked == true) {
          friendId = friends[i].value;
        }
      }

      if (!friendID) {
        console.log('No friend selected!');
        // Do some UI thing
      } else {
        console.log('friendID: ' + friendID);
        var body = 'Testing JS SDK ' + Date.now().toString();
        var comment = 'Testing comment ' + Date.now().toString();

        FB.api('/me/feed', 'post', { message: body }, function(response) {
          if (!response || response.error) {
            console.log('Error posting message');
            console.log(response.error);
          } else {
            console.log('Post successful');
            var ids = response['id'].split('_');
            var userid = ids[0];
            var postid = ids[1];
          }
        });
      }
    }
  </script>

  <!--
  Below we include the Login Button social plugin. This button uses
  the JavaScript SDK to present a graphical Login button that triggers
  the FB.login() function when clicked.
  -->

  <fb:login-button scope="publish_actions,read_stream,user_friends" onlogin="checkLoginState();">
  </fb:login-button>

  <div id="status"></div>

  <div id="mfs"></div>

</body>
</html>
