<html>
  <head>
    <title>My first Three.js app</title>
    <style>
     body { margin: 0; }
     canvas { width: 100%; height: 100% }
    </style>
  </head>
  <body>
    <button id="g">hello</button>
    <script src="{{url_for("static", filename="js/three.js")}}"></script>
    <script src="{{url_for("static", filename="js/OrbitControls.js")}}"></script>
    <script src="{{url_for("static", filename="js/Projector.js")}}"></script>
    <script src="{{url_for("static", filename="js/CanvasRenderer.js")}}"></script>
    <script src="{{url_for("static", filename="js/Bird.js")}}"></script>
    <script src="http://mrdoob.github.com/three.js/examples/fonts/helvetiker_regular.typeface.js"></script>
    <script>

     // Based on http://www.openprocessing.org/visuals/?visualID=6910

     var Boid = function() {

       var vector = new THREE.Vector3(),
       _acceleration, _width = 500, _height = 500, _depth = 200, _goal, _neighborhoodRadius = 100,
       _maxSpeed = 2, _maxSteerForce = 0.1, _avoidWalls = false;

       this.position = new THREE.Vector3();
       this.velocity = new THREE.Vector3();
       _acceleration = new THREE.Vector3();

       this.setGoal = function ( target ) {

	 _goal = target;

       }

       this.setAvoidWalls = function ( value ) {

	 _avoidWalls = value;

       }

       this.setWorldSize = function ( width, height, depth ) {

	 _width = width;
	 _height = height;
	 _depth = depth;

       }

       this.run = function ( boids ) {

	 if ( _avoidWalls ) {

	   vector.set( - _width, this.position.y, this.position.z );
	   vector = this.avoid( vector );
	   vector.multiplyScalar( 5 );
	   _acceleration.add( vector );

	   vector.set( _width, this.position.y, this.position.z );
	   vector = this.avoid( vector );
	   vector.multiplyScalar( 5 );
	   _acceleration.add( vector );

	   vector.set( this.position.x, 0, this.position.z );
	   vector = this.avoid( vector );
	   vector.multiplyScalar( 5 );
	   _acceleration.add( vector );

	   vector.set( this.position.x, _height, this.position.z );
	   vector = this.avoid( vector );
	   vector.multiplyScalar( 5 );
	   _acceleration.add( vector );

	   vector.set( this.position.x, this.position.y, - _depth );
	   vector = this.avoid( vector );
	   vector.multiplyScalar( 5 );
	   _acceleration.add( vector );

	   vector.set( this.position.x, this.position.y, _depth );
	   vector = this.avoid( vector );
	   vector.multiplyScalar( 5 );
	   _acceleration.add( vector );

	 }/* else {

	     this.checkBounds();

	     }
	   */

	 if ( Math.random() > 0.5 ) {

	   this.flock( boids );

	 }

	 this.move();

       }

       this.flock = function ( boids ) {

	 if ( _goal ) {

	   _acceleration.add( this.reach( _goal, 0.005 ) );

	 }

	 _acceleration.add( this.alignment( boids ) );
	 _acceleration.add( this.cohesion( boids ) );
	 _acceleration.add( this.separation( boids ) );

       }

       this.move = function () {

	 this.velocity.add( _acceleration );

	 var l = this.velocity.length();

	 if ( l > _maxSpeed ) {

	   this.velocity.divideScalar( l / _maxSpeed );

	 }

	 this.position.add( this.velocity );
	 _acceleration.set( 0, 0, 0 );

       }

       this.checkBounds = function () {

	 if ( this.position.x >   _width ) this.position.x = - _width;
	 if ( this.position.x < - _width ) this.position.x =   _width;
	 if ( this.position.y >   _height ) this.position.y = - _height;
	 if ( this.position.y < _height ) this.position.y =  _height;
	 if ( this.position.z >  _depth ) this.position.z = - _depth;
	 if ( this.position.z < - _depth ) this.position.z =  _depth;

       }

       //

       this.avoid = function ( target ) {

	 var steer = new THREE.Vector3();

	 steer.copy( this.position );
	 steer.sub( target );

	 steer.multiplyScalar( 1 / this.position.distanceToSquared( target ) );

	 return steer;

       }

       this.repulse = function ( target ) {

	 var distance = this.position.distanceTo( target );

	 if ( distance < 150 ) {

	   var steer = new THREE.Vector3();

	   steer.subVectors( this.position, target );
	   steer.multiplyScalar( 0.5 / distance );

	   _acceleration.add( steer );

	 }

       }

       this.reach = function ( target, amount ) {

	 var steer = new THREE.Vector3();

	 steer.subVectors( target, this.position );
	 steer.multiplyScalar( amount );

	 return steer;

       }

       this.alignment = function ( boids ) {

	 var boid, velSum = new THREE.Vector3(),
	 count = 0;

	 for ( var i = 0, il = boids.length; i < il; i++ ) {

	   if ( Math.random() > 0.6 ) continue;

	   boid = boids[ i ];

	   distance = boid.position.distanceTo( this.position );

	   if ( distance > 0 && distance <= _neighborhoodRadius ) {

	     velSum.add( boid.velocity );
	     count++;

	   }

	 }

	 if ( count > 0 ) {

	   velSum.divideScalar( count );

	   var l = velSum.length();

	   if ( l > _maxSteerForce ) {

	     velSum.divideScalar( l / _maxSteerForce );

	   }

	 }

	 return velSum;

       }

       this.cohesion = function ( boids ) {

	 var boid, distance,
	 posSum = new THREE.Vector3(),
	 steer = new THREE.Vector3(),
	 count = 0;

	 for ( var i = 0, il = boids.length; i < il; i ++ ) {

	   if ( Math.random() > 0.6 ) continue;

	   boid = boids[ i ];
	   distance = boid.position.distanceTo( this.position );

	   if ( distance > 0 && distance <= _neighborhoodRadius ) {

	     posSum.add( boid.position );
	     count++;

	   }

	 }

	 if ( count > 0 ) {

	   posSum.divideScalar( count );

	 }

	 steer.subVectors( posSum, this.position );

	 var l = steer.length();

	 if ( l > _maxSteerForce ) {

	   steer.divideScalar( l / _maxSteerForce );

	 }

	 return steer;

       }

       this.separation = function ( boids ) {

	 var boid, distance,
	 posSum = new THREE.Vector3(),
	 repulse = new THREE.Vector3();

	 for ( var i = 0, il = boids.length; i < il; i ++ ) {

	   if ( Math.random() > 0.6 ) continue;

	   boid = boids[ i ];
	   distance = boid.position.distanceTo( this.position );

	   if ( distance > 0 && distance <= _neighborhoodRadius ) {

	     repulse.subVectors( this.position, boid.position );
	     repulse.normalize();
	     repulse.divideScalar( distance );
	     posSum.add( repulse );
	   }
	 }
	 return posSum;
       }
     }
    </script>
    <script>
     var startDate = new Date().getTime();
     var textMesh2;
     var FS = 0.05, BS = 0.7, V=0.05;
     var scene, camera, renderer, controls, texture_placeholder, birds, bird;
     var boid, boids;
     var textureFlare0, textureFlare2, textureFlare3;
     texture_placeholder = document.createElement( 'canvas' );
     texture_placeholder.width = 128;
     texture_placeholder.height = 128;
     var context = texture_placeholder.getContext( '2d' );
     context.fillStyle = 'rgb( 200, 200, 200 )';
     context.fillRect( 0, 0, texture_placeholder.width, texture_placeholder.height );
     var skies = [
       loadTexture( '{{url_for("static", filename="img/rightax2.jpg")}}' ), // right
       loadTexture( '{{url_for("static", filename="img/leftax2.jpg")}}' ), // left
       loadTexture( '{{url_for("static", filename="img/topax2.jpg")}}' ), // top
       loadTexture( '{{url_for("static", filename="img/topax3.jpg")}}' ), // bottom
       loadTexture( '{{url_for("static", filename="img/frontax2.jpg")}}' ), // front
       loadTexture( '{{url_for("static", filename="img/backax2.jpg")}}' )  // back      
     ];
     init();
     addText();
     animate();
     function init() {
       // Create the scene and set the scene size.
       scene = new THREE.Scene();
       var WIDTH = window.innerWidth,
       HEIGHT = window.innerHeight;
       // Birds
       birds = [];
       boids = [];
       for ( var i = 0; i < 20; i ++ ) {
	 boid = boids[ i ] = new Boid();
	 boid.position.x = Math.random() * 200;
	 boid.position.y = Math.random() * 200;
	 boid.position.z = Math.random() * 200;
	 boid.velocity.x = V*(Math.random() * 2 - 1);
	 boid.velocity.y = V*(Math.random() * 2 - 1);
	 boid.velocity.z = V*(Math.random() * 2 - 1);
	 boid.setAvoidWalls( true );
	 boid.setWorldSize( 500, 200, 400 );
	 bird = birds[ i ] = new THREE.Mesh( new Bird(), new THREE.MeshBasicMaterial( { color:Math.random() * 0xffffff, side: THREE.DoubleSide } ) );
	 bird.phase = Math.floor( Math.random() * 62.83 );
	 scene.add( bird );
       }
       camera = new THREE.PerspectiveCamera(60, WIDTH / HEIGHT, 0.1, 20000);
       camera.position.set(0,18,0);
       scene.add(camera);
       window.addEventListener('resize', function() {
         var WIDTH = window.innerWidth,
         HEIGHT = window.innerHeight;
         renderer.setSize(WIDTH, HEIGHT);
         camera.aspect = WIDTH / HEIGHT;
         camera.updateProjectionMatrix();
       });
       //add ground
       var w = 10000, h = 5000;
       var grassTex = THREE.ImageUtils.loadTexture('{{url_for("static", filename="img/ground.jpg")}}');
       grassTex.wrapS = THREE.RepeatWrapping;
       grassTex.wrapT = THREE.RepeatWrapping;
       grassTex.repeat.x = 1;
       grassTex.repeat.y = 1;
       var groundMat = new THREE.MeshBasicMaterial({map:grassTex});
       var groundGeo = new THREE.PlaneGeometry(4000,4000);
       var ground = new THREE.Mesh(groundGeo,groundMat);
       ground.position.y = -1.9; //lower it 
       ground.rotation.x = -Math.PI/2; //-90 degrees around the xaxis 
       //IMPORTANT, draw on both sides 
       ground.doubleSided = true;
       scene.add(ground);
       // Create a renderer and add it to the DOM.
       renderer = new THREE.WebGLRenderer({antialias:true, alpha: true});
       renderer.setSize(WIDTH, HEIGHT);
       renderer.setPixelRatio( window.devicePixelRatio );
       renderer.gammaInput = true;
       renderer.gammaOutput = true;
       document.body.appendChild(renderer.domElement);
       // Create a light, set its position, and add it to the scene.
       var light = new THREE.PointLight(0xffffff);
       light.position.set(-100,200,100);
       scene.add(light);
       // Ambient light
       var ambient = new THREE.AmbientLight( 0x040404);
       scene.add( ambient );
       var dirLight = new THREE.DirectionalLight( 0xffffff, 0.125 );
       dirLight.position.set( 0, -1, 0 ).normalize();
       scene.add( dirLight );
       dirLight.color.setHSL( 0.1, 0.7, 0.5 );
       // lens flares
       textureFlare0 = THREE.ImageUtils.loadTexture( "{{url_for('static', filename='lensflare/lensflare0.png')}}");
       textureFlare2 = THREE.ImageUtils.loadTexture( "{{url_for('static', filename='lensflare/lensflare2.png')}}" );
       textureFlare3 = THREE.ImageUtils.loadTexture( "{{url_for('static', filename='lensflare/lensflare3.png')}}" );
       addLight( 0.55, 0.9, 0.5, 5000, 100, -1000 );
       addLight( 0.08, 0.8, 0.5,    0, 100, -1000 );
       addLight( 0.995, 0.5, 0.9, 5000, 100, -1000 );
       // Controls
       controls = new THREE.OrbitControls(camera, renderer.domElement);
       controls.maxPolarAngle = Math.PI/2;
       controls.target.y = 6;
       // Skybox and Fog
       var skyMesh = new THREE.Mesh( new THREE.BoxGeometry( 3000, 3000, 3000, 7, 7, 7 ), new THREE.MeshFaceMaterial( skies ) );
       skyMesh.scale.x = -1;
       scene.add(skyMesh);
       scene.fog = new THREE.Fog( 0x000000, 3500, 15000 );
       scene.fog.color.setHSL( 0.51, 0.4, 0.01 );
       // Load Table
       var loader = new THREE.JSONLoader();
       loader.load( "{{url_for('static', filename='js/table.js')}}", function ( geometry, materials ) {
         var mat = new THREE.MeshLambertMaterial({
           map: THREE.ImageUtils.loadTexture('{{url_for("static", filename="img/wood.jpg")}}')
         });
         mesh = new THREE.Mesh(geometry, mat);
         mesh.scale.x = 2; mesh.scale.y = 2; mesh.scale.z = 2; // scale         
         scene.add( mesh );
         animate();
       } );
       // Load flower
       var flowerLoader = new THREE.JSONLoader();
       loader.load("{{url_for('static', filename='js/red.js')}}", function (geom, mater) {
	 var flower = new THREE.Mesh( geom, new THREE.MeshFaceMaterial(mater));
         flower.scale.x = FS; flower.scale.y = FS; flower.scale.z = FS;
         flower.position.y = 6; flower.position.z = 0; flower.position.x=0;
         flower.rotation.x = -Math.PI / 2;
	 scene.add(flower);
       });
       // Load book
       var bookLoader = new THREE.JSONLoader();
       loader.load("{{url_for('static', filename='js/book.js')}}", function (geom, mater) {
	 var book = new THREE.Mesh( geom, new THREE.MeshFaceMaterial(mater));
         book.scale.x = BS; book.scale.y = BS; book.scale.z = BS;
         book.position.y = 2.3; book.position.z = 1; book.position.x=-1;
	 scene.add(book);
       });
     }
     function animate() {
       requestAnimationFrame(animate);
       textMesh2.material.opacity = Math.max(0, 1-(1.0/5000.0)*(new Date().getTime() - startDate))
       for ( var i = 0, il = birds.length; i < il; i++ ) {
	 boid = boids[ i ];
	 boid.run( boids );
	 bird = birds[ i ];
	 bird.position.copy( boids[ i ].position );
	 color = bird.material.color;
	 color.r = color.g = color.b = ( 500 - bird.position.z ) / 1000;
	 bird.rotation.y = Math.atan2( - boid.velocity.z, boid.velocity.x );
	 bird.rotation.z = Math.asin( boid.velocity.y / boid.velocity.length() );
	 bird.phase = ( bird.phase + ( Math.max( 0, bird.rotation.z ) + 0.1 )  ) % 62.83;
	 bird.geometry.vertices[ 5 ].y = bird.geometry.vertices[ 4 ].y = Math.sin( bird.phase ) * 5;
       }
       renderer.render(scene, camera);
       controls.update();
     }
     function addLight( h, s, l, x, y, z ) {
       var light = new THREE.PointLight( 0xffffff, 1.5, 4500 );
       light.color.setHSL( h, s, l );
       light.position.set( x, y, z );
       scene.add( light );
       var flareColor = new THREE.Color( 0xffffff );
       flareColor.setHSL( h, s, l + 0.5 );
       var lensFlare = new THREE.LensFlare( textureFlare0, 700, 0.0, THREE.AdditiveBlending, flareColor );
       lensFlare.add( textureFlare2, 512, 0.0, THREE.AdditiveBlending );
       lensFlare.add( textureFlare2, 512, 0.0, THREE.AdditiveBlending );
       lensFlare.add( textureFlare2, 512, 0.0, THREE.AdditiveBlending );
       lensFlare.add( textureFlare3, 60, 0.6, THREE.AdditiveBlending );
       lensFlare.add( textureFlare3, 70, 0.7, THREE.AdditiveBlending );
       lensFlare.add( textureFlare3, 120, 0.9, THREE.AdditiveBlending );
       lensFlare.add( textureFlare3, 70, 1.0, THREE.AdditiveBlending );
       lensFlare.customUpdateCallback = lensFlareUpdateCallback;
       lensFlare.position.copy( light.position );
       scene.add( lensFlare );
     }
     function loadTexture( path ) {
       var texture = new THREE.Texture( texture_placeholder );
       var material = new THREE.MeshBasicMaterial( { map: texture, overdraw: 0.5 } );
       var image = new Image();
       image.onload = function () {
	 texture.image = this;
	 texture.needsUpdate = true;
       };
       image.src = path;
       return material;
     }
     function addText() {
       var material2 = new THREE.MeshPhongMaterial({
         color: 0x00ff00
       });
       var textGeom2 = new THREE.TextGeometry( 'Hello, World!', {
         font: 'helvetiker'
       });
       textMesh2 = new THREE.Mesh( textGeom2, material2 );
       textGeom2.computeBoundingBox();
       var textWidth2 = textGeom2.boundingBox.max.x - textGeom2.boundingBox.min.x;
       textMesh2.position.set( -0.5 * textWidth2, 0, 0 );
       scene.add( textMesh2 );
       textMesh2.material.transparent = true;
     }

     function lensFlareUpdateCallback( object ) {
       var f, fl = object.lensFlares.length;
       var flare;
       var vecX = -object.positionScreen.x * 2;
       var vecY = -object.positionScreen.y * 2;
       for( f = 0; f < fl; f++ ) {
	 flare = object.lensFlares[ f ];
	 flare.x = object.positionScreen.x + vecX * flare.distance;
	 flare.y = object.positionScreen.y + vecY * flare.distance;
	 flare.rotation = 0;
       }
       object.lensFlares[ 2 ].y += 0.025;
       object.lensFlares[ 3 ].rotation = object.positionScreen.x * 0.5 + THREE.Math.degToRad( 45 );
     }
     var axisHelper = new THREE.AxisHelper(100); // x red, y green
     scene.add( axisHelper );

     // GET from database
     var button = document.getElementById("g");
     button.addEventListener("click", function(ev){
       var xhr = new XMLHttpRequest();
       xhr.open('GET', "/1/comments", true);
       xhr.onload = function() {
         console.log(xhr.response);
       };
       xhr.send();
     })

    </script>

  </body>
</html>
